.topnavbar .navbar-header {
  background-image: #E6332A;
  background-image: linear-gradient(to right, #E6332A 0%, #E6332A 100%);
}

.topnavbar .nav-wrapper {
  background-image: #E6332A;
  background-image: linear-gradient(to right, #E6332A 0%, #E6332A 100%);
}

@media only screen and (min-width: $mq-tablet) {
  .topnavbar {
    background-image: #E6332A;
    background-image: linear-gradient(to right, #E6332A 0%, #E6332A 100%);
  }
}
