<div class="content-heading">      
   Juegos de mesa - <%= @event.name %>
   <%= link_to 'Volver', event_path(@event), { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div>
   <div class="panel panel-default">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified mb-xl" role="tablist">
         <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Disponibles</a></li>
         <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Añadir</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
               <div class="col-sm-12">
                  <%= render partial: 'boardgames_list', locals: { boardgames: @boardgames, at_event: true } %>     
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="profile">
            <div class="row">
               <div class="col-sm-12">
                  <%= render partial: 'boardgames_list', locals: { boardgames: @boardgames_not_included, at_event: false } %>     
               </div>
            </div>
         </div>
      </div>
   </div>
</div>







