<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="/" class="navbar-brand">
         <div class="brand-logo">
            <img src="<%= image_path('logo-ludotecapp.png') %>" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="<%= image_path('logo-ludotecapp.png') %>" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
      <div class="navbar-collapse collapse">
         <!-- START Left navbar-->
         <ul class="nav navbar-nav">
            <li>
               <a href="#" data-toggle="dropdown" title="Events list">
                  <em class="fa fa-bullhorn"></em>
                  <span>Eventos</span>
               </a>
                  <ul class="dropdown-menu animated fadeIn">
                     <li><a href="/events">Lista</a>
                     </li>
                     <li><a href="/events/new">Nuevo</a>
                     </li>
                  </ul>
            </li>
            <li>
               <a href="#" data-toggle="dropdown" title="Players list">
                  <em class="fa fa-users"></em>
                  <span>Jugadores</span>
               </a>
                  <ul class="dropdown-menu animated fadeIn">
                     <li><a href="/admin/players">Lista</a>
                     </li>
                     <li><a href="/admin/players/new">Nuevo</a>
                     </li>
                  </ul>
            </li>
            <li>
               <a href="/admin/boardgames" title="Boardgames list">
                  <em class="fa fa-cubes"></em>
                  <span>Juegos de mesa</span>
               </a>
            </li>
         </ul>
         <!-- END Left navbar-->
      </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->