<div class="panel">
   <div class="panel-heading">
       <h3>Resultados de la búsqueda</h3>
   </div>
   <% if @boardgames.present? %>
       
       <div class="table-responsive">
          <table class="table table-bordered table-hover">
             <thead>
                <tr>
                   <th>#</th>
                   <th>BGG</th>
                   <th>Nombre</th>
                   <th></th>
                </tr>
             </thead>
             <tbody>
                <% @boardgames.each_with_index do |boardgame, index| %>
                <tr>
                   <td><%= index+1 %></td>
                   <td><%= boardgame[:id] %></td>
                   <td><%= boardgame[:name] %></td>
                   <td>
                       <%= link_to 'Importar', admin_boardgames_create_from_bgg_path(boardgame), 
                       { method: :post, class: "btn btn-sm btn-success bg-success-light" } %>
                   </td>
                </tr>
                <% end %>
             </tbody>
          </table>
       </div>

   <% end %>
</div>