<div class="content-heading">
   <%= link_to 'Volver', events_path(@event), { class: "mb-lg btn btn-default btn-lg pull-right" } %>
	Editar <%= @boardgame.name %>
</div>
<div class="row">
	<%= render 'form' %>
</div>